header {
  .mw {
    .logo-nav-container {
      padding: 3rem 0;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .logo {
        svg {
          display: block;
          height: 10rem;
        }
      }
      .nav {
        .nav-list {
          display: flex;

          li {
            margin-left: 3rem;
            font-weight: $regular;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0);
            &:hover {
              color: $light-green;
              border-bottom: 1px solid $light-green;
              // font-weight: $bold;
              a {
                color: $light-green;
              }
            }
          }
          .current-menu-item,
          .current-page-ancestor {
            color: $light-green;
            border-bottom: 1px solid $light-green;
            // font-weight: $bold;
            a {
              color: $light-green;
            }
          }
        }
        .hamburger-nav-list {
          display: none;
        }
      }
      .hamburger-btn,
      .opacity-layer {
        display: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    .mw {
      .logo-nav-container {
        padding: 1rem 6rem;

        align-items: center;
        position: fixed;
        width: 100vw;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 5;

        .logo {
          svg {
            height: 6rem;
          }
        }
        .nav {
          position: relative;
          transform: translateX(100rem);
          transition: 0.3s all;
          .nav-list {
            display: none; //

            li {
              margin-left: 3rem;
              font-weight: $regular;
              border-bottom: 1px solid rgba($color: #000000, $alpha: 0);
              &:hover {
                color: $light-green;
                border-bottom: 1px solid $light-green;
                // font-weight: $bold;
                a {
                  color: $light-green;
                }
              }
            }
            .current-menu-item,
            .current-page-ancestor {
              color: $light-green;
              border-bottom: 1px solid $light-green;
              // font-weight: $bold;
              a {
                color: $light-green;
              }
            }
          }
          .hamburger-nav-list {
            // background-color: blue;
            display: block;
            position: absolute;
            li {
              display: flex;
              flex-direction: column;
            }
            .current-menu-item,
            .current-page-ancestor {
              > a {
                // font-weight: $bold;
                color: $light-green;
              }
            }
          }

          &--active {
            transform: translateX(0);
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 70%;
            background-color: white;
            z-index: 10;
            overflow-y: scroll;

            .hamburger-nav-list {
              // background-color: blue;
              padding-left: 3rem;
              padding-bottom: 3rem;
              font-size: 120%;
              // height: 70rem;

              max-height: none;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              margin-top: 5rem;
              // background-color: blue;
              ul {
                padding-left: 0;
                font-size: 80%;
              }
              li {
                margin-top: 1.6rem;
              }
            }
          }
        }
        .hamburger-btn {
          min-width: 30px;
          height: 20px;
          right: 6rem;
          position: absolute;
          cursor: pointer;
          z-index: 13;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .bar {
            display: block;

            height: 3px;
            width: 100%;
            background-color: #000;
            transition: all 0.3s;
          }
          &--active {
            .bar {
              width: 80%;
            }
            .first-bar {
              position: absolute;
              top: 50%;
              transform: rotateZ(45deg);
            }
            .second-bar {
              display: none;
            }
            .third-bar {
              position: absolute;
              top: 50%;
              transform: rotateZ(-45deg);
            }
          }
        }

        .opacity-layer {
          display: block;
          position: fixed;
          z-index: -1;
          left: 0;
          top: 0;
          width: 0;
          transition: background-color 0.3s, width 0s, height 0s;
          &--active {
            background-color: rgba($color: #000000, $alpha: 0.3);
            width: 100vw;
            height: 100vh;
            z-index: 9;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    .mw {
      .logo-nav-container {
        padding: 1rem 3rem; ///

        .nav {
          &--active {
            width: 85%; ///

            ul {
              padding-left: 3rem; ///
            }
          }
        }
        .hamburger-btn {
          right: 3rem; ///
        }
      }
    }
  }
}
