#contact {
  background-color: rgba($color: $font-primary-color, $alpha: 0.1);
  padding: 5rem;

  h2 {
    width: 50%;
    min-width: 60rem;
    color: $light-green;
    font-weight: $light-bold;
    margin-bottom: 5rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 4rem;
      height: 0.5rem;
      border-bottom: 0.25rem solid $light-green;
      bottom: -2.5rem;
      left: 0;
    }
  }

  .wpcf7 {
    form {
      p:nth-child(2),
      p:nth-child(3),
      p:nth-child(4),
      p:nth-child(5) {
        width: 48.2%; //48.5 doesn't work well for some reason;
        display: inline-block;
        // background-color: blue;
        input {
          width: 100%;
        }
      }
    }
  }

  .wpcf7 {
    form {
      p:nth-child(3),
      p:nth-child(5) {
        margin-left: 3%;
        // background-color: blue;
      }
    }
  }

  input,
  textarea {
    padding: 2rem;
    border: none;
    &::placeholder {
      color: #ccc;
    }
  }

  textarea {
    width: 100%;
  }

  input[type="submit"] {
    width: 20rem;
    margin-top: 3rem;
    margin-right: 3rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    padding: 1.2rem 3rem;
    background-color: $dark-green;
    color: white;
    &:first-child {
      background-color: $light-green;
    }
    &:hover {
      background-color: $light-green;
    }
  }
}

@media (max-width: 768px) {
  #contact {
    background-color: rgba($color: $font-primary-color, $alpha: 0.1);
    padding: 2.5rem;

    h2 {
      text-align: center;
      width: 100%;
      min-width: 0;
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .wpcf7 {
      form {
        p:nth-child(2),
        p:nth-child(3),
        p:nth-child(4),
        p:nth-child(5) {
          width: 100%; //48.5 doesn't work well for some reason;
          display: block;

          input {
            width: 100%;
          }
        }
      }
    }

    .wpcf7 {
      form {
        p:nth-child(3),
        p:nth-child(5) {
          margin-left: 0%;
        }
      }
    }

    input,
    textarea {
      padding: 2rem;
      border: none;
      &::placeholder {
        color: #ccc;
      }
    }

    textarea {
      width: 100%;
    }

    input[type="submit"] {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20rem;
      margin-top: 3rem;
      outline: none;
      border: none;
      border-radius: 3rem;
      padding: 1.2rem 3rem;
      background-color: $dark-green;
      color: white;
      &:first-child {
        background-color: $light-green;
      }
      &:hover {
        background-color: $light-green;
      }
    }
  }
}
