/* 
 Defaults
*/

*,
*:before,
*:after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: $p-font;
  font-size: 1.4rem;
  font-weight: $light;
  color: $font-primary-color;
}

@media (max-width: 1024px) {
  body {
    padding-top: 9rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

nav ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
}

li {
  line-height: 1.5;
  margin-left: 3rem;
}

a {
  text-decoration: none;
  color: $font-primary-color;
}

p {
  line-height: 1.5;
}

h1:first-child,
h3:first-child,
h3:first-child {
  margin-block-start: 0;
  padding-top: 0;
  margin-top: 0;
}

/*
 Container
*/

.mw {
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;
}

.container-padding {
  padding-left: 5rem;
  padding-right: 5rem;
}

.container-margin {
  margin: 7rem 0;
  &:first-child {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .container-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/*
 Helper
*/

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: 0;
  padding: 0;
}
