.page-template-leistungen-unterseite,
.page-template-leistungen-hauptseite {
  .wrapper {
    padding: 0 5rem;
    display: flex;
    #sub-pages {
      flex: 0 0 20rem;
      margin-right: 5rem;
      nav {
        display: flex;
        flex-direction: column;
        a {
          width: 100%;
          text-align: center;
          margin-right: 3rem;
          margin-bottom: 2rem;
          border-radius: 3rem;
          padding: 1.2rem 3rem;
          background-color: $font-primary-color;
          color: white;
          transition: all 0.3s;
          &:hover {
            background-color: $light-green;
          }
        }
        .active {
          background-color: $light-green;
        }
      }
    }
    .service-description {
      h2:first-child {
        margin-top: 0;
        color: $light-green;
        font-weight: $light-bold;
        margin-bottom: 5rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 4rem;
          height: 0.5rem;
          border-bottom: 0.25rem solid $light-green;
          bottom: -2.5rem;
          left: 0;
        }
        span {
          font-style: italic;

          display: block;
          padding-top: 1rem;
          font-size: 60%;
          font-weight: $regular;
        }
      }
    }
  }

  .picture-gallery {
    .column {
      column-count: 2;
      column-gap: 5rem;
      img {
        margin-bottom: 5rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .page-template-leistungen-unterseite,
  .page-template-leistungen-hauptseite {
    .wrapper {
      padding: 0 2.5rem;
      display: flex;
      #sub-pages {
        display: none;
      }
      .service-description {
        text-align: center; //
        h2:first-child {
          &::after {
            left: 50%;
            transform: translateX(-50%);
          }
          span {
            font-style: italic;

            display: block;
            padding-top: 1rem;
            font-size: 60%;
            font-weight: $regular;
          }
        }
        ul {
          list-style: none;
          li {
            margin-left: 0;
            margin-top: 0.8rem;
          }
        }
      }
    }

    .picture-gallery {
      .column {
        column-count: 2;
        column-gap: 5rem;
        img {
          margin-bottom: 5rem;
        }
      }
    }
  }
}
