#offer {
  margin-top: 10rem;
  padding: 0 5rem;
  h2 {
    color: $light-green;
    font-weight: $light-bold;
    margin-bottom: 5rem;
    position: relative;
    text-align: left;
    &::after {
      content: "";
      position: absolute;
      width: 4rem;
      height: 0.5rem;
      border-bottom: 0.25rem solid $light-green;
      bottom: -2.5rem;
      left: 0;
    }
    span {
      display: block;
      padding-top: 1rem;
      font-size: 60%;
      font-weight: $regular;
    }
  }
  .links {
    padding: 2.5rem 0;
    a {
      margin-right: 3rem;
      border-radius: 3rem;
      padding: 1rem 3rem;
      background-color: $dark-green;
      color: white;
      transition: all 0.3s;
      &:first-child {
        background-color: $light-green;
      }
      &:hover {
        background-color: $light-green;
      }
    }
  }
}

@media (max-width: 1024px) {
  #offer {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #offer {
    padding: 0 2.5rem; //
    text-align: center; //
    h2 {
      margin-left: auto; //
      margin-right: auto; //
      text-align: center; //

      &::after {
        left: 50%; //
        transform: translateX(-50%); //
      }
    }
    .links {
      padding: 2.5rem 0; //
      display: flex; //
      flex-direction: column; //
      align-items: center; //

      a {
        margin-top: 2rem; //
        width: 20rem; //
        margin-right: 0;
      }
    }
  }
}
