main {
  .mw {
    .white-background-centered {
      text-align: center;
      h2 {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        min-width: 60rem;
        color: $light-green;
        font-weight: $light-bold;
        margin-bottom: 5rem;
        position: relative;
        text-align: center;
        &::after {
          content: "";
          position: absolute;
          width: 4rem;
          height: 0.5rem;
          border-bottom: 0.25rem solid $light-green;
          bottom: -2.5rem;
          left: 50%;
          transform: translateX(-50%);
        }
        span {
          font-style: italic;
          display: block;
          padding-top: 1rem;
          font-size: 60%;
          font-weight: $regular;
        }
      }

      img {
        width: 100%;
        margin-bottom: 5rem;
      }
      strong {
        display: inline-block;
        margin: 1.5rem 0;
      }

      ul {
        width: 60%;
        min-width: 60rem;
        margin: 0 auto;
        text-align: left;
        column-count: 2;
        column-gap: 5rem;
      }
    }

    .white-background-left {
      text-align: left;
      h2 {
        width: 50%;
        min-width: 60rem;
        color: $light-green;
        font-weight: $light-bold;
        margin-bottom: 5rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 4rem;
          height: 0.5rem;
          border-bottom: 0.25rem solid $light-green;
          bottom: -2.5rem;
          left: 0;
        }
        span {
          font-style: italic;
          display: block;
          padding-top: 1rem;
          font-size: 60%;
          font-weight: $regular;
        }
      }
      img {
        width: 100%;
        margin-bottom: 5rem;
      }
      strong {
        display: inline-block;
        margin: 1.5rem 0;
      }

      ul {
        column-count: 2;
        column-gap: 5rem;
      }
    }
    .gray-background-centered {
      background-color: rgba($color: $font-primary-color, $alpha: 0.1);
      padding: 5rem;
      text-align: center;
      h2 {
        margin-left: auto;
        margin-right: auto;

        width: 50%;
        min-width: 60rem;
        color: $light-green;
        font-weight: $light-bold;
        margin-bottom: 5rem;
        position: relative;
        text-align: center;
        &::after {
          content: "";
          position: absolute;
          width: 4rem;
          height: 0.5rem;
          border-bottom: 0.25rem solid $light-green;
          bottom: -2.5rem;
          left: 50%;
          transform: translateX(-50%);
        }
        span {
          font-style: italic;

          display: block;
          padding-top: 1rem;
          font-size: 60%;
          font-weight: $regular;
        }
      }

      img {
        width: 100%;
        margin-bottom: 5rem;
      }
      strong {
        display: inline-block;
        margin: 1.5rem 0;
      }

      ul {
        column-count: 2;
        column-gap: 5rem;
      }
    }
    .gray-background-left {
      background-color: rgba($color: $font-primary-color, $alpha: 0.1);
      padding: 5rem;
      h2 {
        width: 50%;
        min-width: 60rem;
        color: $light-green;
        font-weight: $light-bold;
        margin-bottom: 5rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 4rem;
          height: 0.5rem;
          border-bottom: 0.25rem solid $light-green;
          bottom: -2.5rem;
          left: 0;
        }
        span {
          font-style: italic;

          display: block;
          padding-top: 1rem;
          font-size: 60%;
          font-weight: $regular;
        }
      }

      img {
        width: 100%;
        margin-bottom: 5rem;
      }
      strong {
        display: inline-block;
        margin: 1.5rem 0;
      }

      ul {
        column-count: 2;
        column-gap: 5rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  main {
    .mw {
      .white-background-centered,
      .white-background-left {
        text-align: center;

        @media (max-width: 768px) {
          padding: 0 2.5rem;
        }
        h2 {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          min-width: 0; //
          color: $light-green;
          font-weight: $light-bold;
          margin-bottom: 5rem;
          position: relative;
          text-align: center;
          &::after {
            content: "";
            position: absolute;
            width: 4rem;
            height: 0.5rem;
            border-bottom: 0.25rem solid $light-green;
            bottom: -2.5rem;
            left: 50%;
            transform: translateX(-50%);
          }
          span {
            font-style: italic;

            display: block;
            padding-top: 1rem;
            font-size: 60%;
            font-weight: $regular;
          }
        }

        img {
          width: 100%;
          margin-bottom: 5rem;
        }
        strong {
          display: inline-block;
          margin: 1.5rem 0;
        }

        ul {
          list-style: none;
          // list-style-position: inside; //
          width: auto; //
          min-width: 0;
          margin: 0 auto;
          text-align: center;
          column-count: 1; //
          column-gap: 5rem;
          li {
            margin-left: 0;
            margin: 1rem 0;
          }
        }
      }

      .gray-background-centered,
      .gray-background-left {
        background-color: rgba($color: $font-primary-color, $alpha: 0.1);
        padding: 2.5rem;
        text-align: center;
        h2 {
          margin-left: auto;
          margin-right: auto;

          width: 100%;
          min-width: 0;
          color: $light-green;
          font-weight: $light-bold;
          margin-bottom: 5rem;
          position: relative;
          text-align: center;
          &::after {
            content: "";
            position: absolute;
            width: 4rem;
            height: 0.5rem;
            border-bottom: 0.25rem solid $light-green;
            bottom: -2.5rem;
            left: 50%;
            transform: translateX(-50%);
          }
          span {
            font-style: italic;

            display: block;
            padding-top: 1rem;
            font-size: 60%;
            font-weight: $regular;
          }
        }

        img {
          width: 100%;
          margin-bottom: 5rem;
        }
        strong {
          display: inline-block;
          margin: 1.5rem 0;
        }

        ul {
          list-style: none;
          // list-style-position: inside; //
          text-align: center; //
          column-count: 1; //
          column-gap: 5rem;
          li {
            margin-left: 0;
            margin: 1.5rem 0;
          }
        }
      }
    }
  }
}
