// Width
$mw: 130rem;

// Colors
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: 'Times New Roman', Times, serif;

// Fonts
$primary-font: #484848;
$secondary-font: #808080;


//Font weights
$light: 300;
$regular: 400;
$light-bold: 500;
$bold: 700;


