@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Colors

$font-primary-color: #707070;
$font-secondary-color: #474f1e;

$light-green: #8eb240;
$dark-green: #474f1e;

// Fonts

$p-font: "Roboto", sans-serif;

$light: 300;
$regular: 400;
$light-bold: 500;
$bold: 700;

// Width

$mw: 140rem;
